template
    require(from="./button_code.css")
    .grid
        .header ${model.title}
        .button
            button(class="${model.className}") Button
        .code
            pre ${model.code}