.ex{
	$border-color: hsla(0,0%,60%,100%);
	border:1px solid $border-color;
	margin:10px;
	display:grid;
	grid-template-columns: 40% 60%;
	width:800px;
	height:auto;
	transition: all .2s ease-out;

	&__header{
		grid-row:1;
		grid-column:1/3;
		text-align: center;
		color:orange;
		margin:10px;
		letter-spacing: 1px;
		font-size:20px;
	}

	&__output{
		display:flex;
		align-items: center;
		justify-content: center;
		border-right:1px solid $border-color;
		margin:10px;
	}
	&__code{
		margin:10px;
		word-wrap:break-word;
		transition: all .2s ease-out;
	}
}


.content > div { display:none; }
input {display: none;}
label {
	display: inline-block; 
	padding: 10px 20px; 
	font-weight: 600; 
	text-align: center;
	margin:0 2px;
	border-bottom: 4px solid transparent;
	transition: all .2s ease-out;
}
label:hover {
	color: #fff; 
	cursor: pointer;
	border-bottom: 4px solid white;
}
input:checked + label {
	border-bottom: 4px solid orange;
}