template
    require(from="./hub.css")
    .parent

        .container-content(ref="containerContent")
            .left-corner-boundary(ref="leftCornerBoundary")
            .right-corner-boundary(ref="rightCornerBoundary")
            p Phasellus ac dictum nisi, non porttitor tortor. Phasellus lobortis, elit sed sodales scelerisque, erat ipsum elementum mi, vitae laoreet enim nisi sit amet leo. Suspendisse gravida, nisl non porta ultrices, nisi massa eleifend purus, sed aliquam diam sapien ut erat. In pellentesque
            p Phasellus ac dictum nisi, non porttitor tortor. Phasellus lobortis, elit sed sodales scelerisque, erat ipsum elementum mi, vitae laoreet enim nisi sit amet leo. Suspendisse gravida, nisl non porta ultrices, nisi massa eleifend purus, sed aliquam diam sapien ut erat. In pellentesque
            p Phasellus ac dictum nisi, non porttitor tortor. Phasellus lobortis, elit sed sodales scelerisque, erat ipsum elementum mi, vitae laoreet enim nisi sit amet leo. Suspendisse gravida, nisl non porta ultrices, nisi massa eleifend purus, sed aliquam diam sapien ut erat. In pellentesque
            //p Phasellus ac dictum nisi, non porttitor tortor. Phasellus lobortis, elit sed sodales scelerisque, erat ipsum elementum mi, vitae laoreet enim nisi sit amet leo. Suspendisse gravida, nisl non porta ultrices, nisi massa eleifend purus, sed aliquam diam sapien ut erat. In pellentesque
            //p Phasellus ac dictum nisi, non porttitor tortor. Phasellus lobortis, elit sed sodales scelerisque, erat ipsum elementum mi, vitae laoreet enim nisi sit amet leo. Suspendisse gravida, nisl non porta ultrices, nisi massa eleifend purus, sed aliquam diam sapien ut erat. In pellentesque   
        .container-curtains(ref="containerCurtains")
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain")  
        .container-corners 
            .left-corner(ref="leftCorner")
            .right-corner(ref="rightCorner")  



 

