template
    require(from="./hub.css")
    .parent
        .container(ref="container")
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain")
            .left-triangle(ref="leftCorner")
            .right-triangle(ref="rightCorner")

        .container-menu
            .element
            p shllkjs lfkjs ljfsldkjf l shllkjs lfkjs ljfsldkjf l 
            | shllkjs lfkjs ljfsldkjf l 
            | shllkjs lfkjs ljfsldkjf l 
            | shllkjs lfkjs ljfsldkjf l 
            | shllkjs lfkjs ljfsldkjf l 
            | shllkjs lfkjs ljfsldkjf l 
            | shllkjs lfkjs ljfsldkjf l 
 

