template
    require(from="./hub.css")
    .parent

        .container-curtains
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain")  
        .container-corners 
            .left-corner(ref="leftCorner")
            .right-corner(ref="rightCorner")  
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat ex in sapien sollicitudin consectetur. Phasellus convallis scelerisque luctus. Mauris luctus eu nulla in vehicula. Nullam gravida tincidunt risus eget semper. Donec sollicitudin libero sed nisi luctus, nec rhoncus neque sagittis. Nam eu elit nec est vehicula viverra. Etiam euismod bibendum odio nec blandit. Curabitur posuere ligula quis turpis volutpat vehicula a ut est. Aenean euismod magna non lectus sollicitudin, non condimentum tortor tincidunt. Sed at tortor eu justo aliquet rhoncus sit amet vitae nunc. Vestibulum ac tortor leo. Suspendisse pretium augue sit amet lectus hendrerit pharetra. Suspendisse arcu neque, placerat quis commodo non, sagittis et dolor.     
        //.container(ref="container")
            //.left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain")
            .left-triangle(ref="leftCorner")
            .right-triangle(ref="rightCorner")
                p Words
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat ex in sapien sollicitudin consectetur. Phasellus convallis scelerisque luctus. Mauris luctus eu nulla in vehicula. Nullam gravida tincidunt risus eget semper. Donec sollicitudin libero sed nisi luctus, nec rhoncus neque sagittis. Nam eu elit nec est vehicula viverra. Etiam euismod bibendum odio nec blandit. Curabitur posuere ligula quis turpis volutpat vehicula a ut est. Aenean euismod magna non lectus sollicitudin, non condimentum tortor tincidunt. Sed at tortor eu justo aliquet rhoncus sit amet vitae nunc. Vestibulum ac tortor leo. Suspendisse pretium augue sit amet lectus hendrerit pharetra. Suspendisse arcu neque, placerat quis commodo non, sagittis et dolor.
            //.container-polygon
                .polygon
                p Menu
                p Menu 1
                p Menu 2
                p Menu 3
                p Menu 4


 

