@import '../colors';

$size:300px;
$color1:darken($blue, 10%);
$color2:darken($blue, 20%);
$color3:darken($blue, 30%);
$color4:darken($blue, 40%);
$color5:darken($blue, 50%);

.parent{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    border:1px solid green;
    display:flex;
    align-items: center;
    justify-content:center;
}
.container{

    height:400px;
    width:600px;
    overflow:hidden;
    background:radial-gradient($color2, $color3);
    border:1px solid $color1;
    position:absolute;
    color:white;

    .left-triangle, .right-triangle, .left-curtain, .right-curtain{
        position:absolute;
    }

    .left-triangle, .left-curtain{
        left:0;
        bottom:0;
    }

    .right-triangle, .right-curtain{
        top:0;
        right:0;
    }

    .left-triangle{
        width:$size;
        height:$size;
        shape-outside: polygon(0 0, 100% 100%, 0 100%);
	    clip-path:polygon(0 0, 100% 100%, 0 100%);
        background: linear-gradient(45deg, $color4, $color2 49%, $color1 50%);
    }

    .right-triangle{
        width:$size;
        height:$size;
        shape-outside: polygon(0 0, 100% 0, 100% 100%);
	    clip-path:polygon(0 0, 100% 0, 100% 100%);
        background: linear-gradient(45deg, $color1 50%, $color2 51%, $color4 100%);
        //border:1px solid $color2;
    }  

    .left-curtain{
        width:500px;
        height:400px;
        background-color:red;
        clip-path:polygon(0 0, 100px 0, 100% 100%, 0 100%);
        background: linear-gradient(45deg, $color4, $color1 50%);
        //z-index:100;
    }  

    .right-curtain{
        //display:none;
        width:500px;
        height:400px;
        background-color:white;
        clip-path:polygon(0 0, 100% 0, 100% 100%, 400px 100%);
        background: linear-gradient(45deg, $color1 50%,  $color4 100%);
        //z-index:99;
    } 

}

.container-menu{
    height:400px;
    width:600px;
    overflow:hidden;
    //background:radial-gradient($color2, $color3);
    border:1px solid green;
    position:absolute;
    color:white;

    .element{
        //position:absolute;
        width:100%;
        height:100%;
        border:1px solid red;
        shape-outside: polygon(0 0, 100% 0, 100% 100%);
        float:right;
    }
}