@import '../colors';

$size:300px;
$containerWidth: 600px;
$containerHeight: 400px;
$color1:darken($blue, 10%);
$color2:darken($blue, 20%);
$color3:darken($blue, 30%);
$color4:darken($blue, 40%);
$color5:darken($blue, 50%);

.parent{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    //border:1px solid green;
    display:flex;
    align-items: center;
    justify-content:center;
}

.container-content, .container-curtains, .container-corners{
    overflow:hidden;
    width:$containerWidth;
    height:$containerHeight;
}

.container-content{
    background:radial-gradient($color2, $color3);
    color:white;
    border:1px solid $blue;
    box-shadow:4px 4px 12px #222;
    position:absolute;

    p{
        padding:10px;
        font-size:14px;
        margin:0;
    }
    .left-corner-boundary, .right-corner-boundary{
        width:$size;
        height:$size;
        shape-margin:10px;
    }
    .left-corner-boundary{
        shape-outside: polygon(0 100px, 100% 100%, 0 100%);
	    clip-path:polygon(0 0, 100% 100%, 0 100%);
        float:left;
        margin-top:100px;
    }
    .right-corner-boundary{
        shape-outside: polygon(0 0, 100% 0, 100% 100%);
	    clip-path:polygon(0 0, 100% 0, 100% 100%);
        float:right;
    }

    .left-corner, .right-corner{
        width: $size;
        height: $size;   
        position:absolute;    
    }

    .left-curtain, .right-curtain{
        position:absolute;
        top:0;
        width: $containerWidth - 100px;
        height: $containerHeight;
    }

    .left-curtain{       
        clip-path:polygon(0 0, 100px 0, 100% 100%, 0 100%);
        background: linear-gradient(45deg, $color4, $color1 50%);
        left:0;
    }  

    .right-curtain{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 400px 100%);
        background: linear-gradient(45deg, $color1 50%,  $color4 100%);
        right:0;
    }     

    .left-corner{
        shape-outside: polygon(0 100px, 100% 100%, 0 100%);
	    clip-path:polygon(0 0, 100% 100%, 0 100%);
        background: linear-gradient(45deg, $color5, $color2 49%, $color1 50%);
        left:0;
        bottom:0;
        .corner-border{
            width:$size;
            height:$size;
            border:1px solid white;
            shape-outside: polygon(0 0, 100% 0, 100% 100%);
            float:right;
            //position:absolute;

        }
        ul{
            text-align:right;
            list-style-type:none;
            li{
                margin-top:10px;
                a{
                    color:white;
                    text-decoration:none;
                    font-size:26px;
                
                    margin-right:20px;
                    transition: all .2s ease-in-out;
                    border-bottom:6px solid transparent;
                    &:hover{
                        border-bottom:6px solid $color1;
                        text-shadow:2px 2px 4px $colorBlueDarken2;
                        //box-shadow:2px 2px 4px $colorBlueDarken2;
                    }
                }
            }
        }
    }

    .right-corner{
        shape-outside: polygon(0 0, 100% 0, 100% 100%);
        clip-path:polygon(0 0, 100% 0, 100% 100%);
        background: linear-gradient(45deg, $color1 50%, $color2 51%, $color4);
        right:0;
        top:0;
        .corner-border{
            width:$size;
            height:$size;
            border:1px solid white;
            shape-outside: polygon(0 0, 0 100%, 100% 100%);
            float:left;
            //position:absolute;

        }
        ul{
            list-style-type:none;
            li{
                margin-top:20px;
                a{
                    color:white;
                    text-decoration:none;
                    font-size:16px;
                
                    margin-left:20px;
                    transition: all .2s ease-in-out;
                    border-bottom:6px solid transparent;
                    &:hover{
                        border-bottom:6px solid $color1;
                        text-shadow:2px 2px 4px $colorBlueDarken2;
                        //box-shadow:2px 2px 4px $colorBlueDarken2;
                    }
                }
            }
        }        
    }   
}

.container-curtains{
    position:absolute;
    z-index:-1;

    
}

.container-corners {
    position:absolute; 
    z-index:10;

    .left-corner, .right-corner{
        width: $size;
        height: $size;   
        position:absolute;    
    }

    .left-corner{
        shape-outside: polygon(0 100px, 100% 100%, 0 100%);
	    clip-path:polygon(0 0, 100% 100%, 0 100%);
        background: linear-gradient(45deg, $color5, $color2 49%, $color1 50%);
        left:0;
        top:100px;
    }

    .right-corner{
        shape-outside: polygon(0 0, 100% 0, 100% 100%);
	    clip-path:polygon(0 0, 100% 0, 100% 100%);
        background: linear-gradient(45deg, $color1 50%, $color2 51%, $color4);
        right:0;
        top:0;
    }      
}