template
    require(from="./hub.css")
    .parent

        .container-content(ref="containerContent")
            .left-corner-boundary(ref="leftCornerBoundary")
            .right-corner-boundary(ref="rightCornerBoundary")
            router-view
                
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain") 
            .left-corner(ref="leftCorner")
                .corner-border
                //ul(repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}")
                    li
                        a(href.bind="row.href") ${row.title}  
                ul(class="${row.isActive ? 'active' : ''}")
                    li
                        a(href="#/resume") Home
                    li                            
                        a(href="#/css-tricks") CSS                            
            .right-corner(ref="rightCorner")  
        
            




 

