template
    require(from="./hub.css")
    .parent
        .container(ref="container")
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain")
            .left-triangle(ref="leftCorner")
            .right-triangle(ref="rightCorner")
            p dsfsdflsj adlf aslk asdlfk adlf asdflk asdl asdfl aksdfaf lads lasdkf 
            .container-polygon
                .polygon
                p Menu
                p Menu 1
                p Menu 2
                p Menu 3
                p Menu 4


 

