template
    require(from="./hub.css")
    .parent

        .container-content(ref="containerContent")
            .left-corner-boundary(ref="leftCornerBoundary")
            .right-corner-boundary(ref="rightCornerBoundary")
            router-view
                
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain") 
            .left-corner(ref="leftCorner")
                .corner-border 
                ul(class="${row.isActive ? 'active' : ''}")
                    li
                        a(href="#/resume") Home
                    li                            
                        a(href="#/css-tricks") CSS      
                    li                            
                        a(href="#/css-tricks") About                                              
            .right-corner(ref="rightCorner") 
                .corner-border 
                ul 
                    li
                        a(href="#/resume") Concepts
                    li                            
                        a(href="#/css-tricks") Components      
                    li                            
                        a(href="#/css-tricks") Tricks   
            




 

