template
    require(from="./hub.css")
    .parent

        .container-content(ref="containerContent")
            .left-corner-boundary(ref="leftCornerBoundary")
            .right-corner-boundary(ref="rightCornerBoundary")
            router-view
                
            .left-curtain(ref="leftCurtain")
            .right-curtain(ref="rightCurtain") 
            .left-corner(ref="leftCorner" click.delegate="activeArea($event)")
                //http://stackoverflow.com/questions/2717480/css-selector-for-first-element-with-class/8539107#8539107
                .corner-border 
                p
                    a.nav-item(href="#/home" ) Home
                p
                    a.nav-item(href="#/css-tricks") CSS
                p
                    a.nav-item(href="#/about") About
                                            
            .right-corner(ref="rightCorner") 
                .corner-border 
                ul 
                    li
                        a(href="#/resume") Concepts
                    li                            
                        a(href="#/css-tricks") Components      
                    li                            
                        a(href="#/css-tricks") Tricks   
            




 

