template
	require(from="./buttonSandbox.css")
	.au-animate.button-sandbox
		div
			a(href="javascript:history.back()") Go Back
			h2 Background
			button.background-color Button
			h2 Border
			button.border Button