template
	require(from="./buttons.css")
	require(from="./buttonTemplate")
	require(from="./hoverButton")


	.au-animate.button-sandbox
		a(href="javascript:history.back()") Go Back

		button-code(repeat.for="model of models" model.bind="model")

		button-template(file.bind="'hoverButton'")

		.grid
			.header Normal
			.button
				button.background-color Button
			.code Code

		.grid
			.header Fading Border
			.button
				button.background-color Button
			.code
				pre
					| button{
					|   text-decoration:none;
					|   border:1px solid green;
					|   &:hover{
					|	  color:white;
					|   }
					| }		

		.grid
			.cell.header Fading Border
			.cell.button
				button.background-color Button
			.cell.code
				pre
					| button{
					|   text-decoration:none;
					|   border:1px solid green;
					|   &:hover{
					|	  color:white;
					|   }
					| }	


		.grid
			.cell.header Fading Border
			.cell.button
				button.background-color Button
			.cell.code
				pre
					| button{
					|   text-decoration:none;
					|   border:1px solid green;
					|   &:hover{
					|	  color:white;
					|   }
					| }											