template
	require(from="./buttons.css")
	require(from="../resources/elements/componentElement")

	.au-animate.button-sandbox
		a(href="javascript:history.back()") Go Back

		component-element(file.bind="'spinButton'")
		component-element(file.bind="'hoverButton'")
		component-element(file.bind="'zoomButton'")
		component-element(file.bind="'notificationButton'")
		