.button-sandbox{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:10;
	background: radial-gradient(#888, #777);
	padding:10px;


	.grid{
		margin:10px;
		border:1px solid white;
		display:grid;
		grid-template-columns:40% 60%;
		width:400px;
		.header{
			font-size:20px;
			text-align:center;
			grid-row:1;
			grid-column:1/3;
			margin:10px;
		}
		.button{
			display:flex;
			align-items: center;
			justify-content: center;
			border-right:1px solid white;
			margin:10px;
		}
		.code{
			margin:10px;
		}
	}

	button{
		font-size:20px;
		border:none;
		padding:4px 10px;

		&.background-color{
			$backgroundColor: hsla(176, 100%, 50%, 1);
			color: darken($backgroundColor, 20%);
			transition: all .2s ease-in-out;
			background-color:$backgroundColor;
			&:hover{
				background-color:darken($backgroundColor, 10%);
				box-shadow: 2px 2px 4px hsla(0, 0, 0, 50%);
				color: $backgroundColor;
			}
		}

		&.border{
			$backgroundColor: #34c;
			color:white;
			transition: all .2s ease-in-out;
			background-color:$backgroundColor;
			border:3px solid darken($backgroundColor, 10%);
			&:hover{
				border:3px solid darken($backgroundColor, 20%);
			}
		}		
	}
}