template
	require(from="./buttons.css")
	require(from="./buttonTemplate")

	.au-animate.button-sandbox
		a(href="javascript:history.back()") Go Back

		button-template(file.bind="'spinButton'")
		button-template(file.bind="'hoverButton'")
		button-template(file.bind="'zoomButton'")
		button-template(file.bind="'notificationButton'")
		