template
	require(from="./buttonTemplate.css")
	.example
		.example__header 
			div ${humanizeFile}
		.example__output 
			compose(view="components/${file}.html")
		.example__code
			pre ${scss}
	


	//https://github.com/aurelia/templating/issues/307