template
	require(from="./cards.css")
	require(from="../resources/elements/componentElement")

	.au-animate.cards
		a(href="javascript:history.back()") Go Back

		component-element(file.bind="'simpleCard'")
		component-element(file.bind="'simpleCard'")
