template
	require(from="./circleButton.css")
	button.circle
		i.fa.fa-refresh
	button.circle
		i.fa.fa-bath
	button.circle
		i.fa.fa-blind
	button.circle
		i.fa.fa-truck
	button.circle-lg
		i.fa.fa-apple
