template
	require(from="./simpleCard.css")
	.simple-card
		.simple-card__header Header
			i.fa.fa-trash 
			i.fa.fa-cubes
		.simple-card__content Nunc semper pharetra mattis. Vestibulum laoreet, orci sit amet sodales tristique, metus justo tempus mauris, pulvinar commodo dui ante in libero. Nullam ullamcorper, leo malesuada condimentum condimentum, massa erat euismod diam, sit amet tristique elit enim ac dui. Quisque efficitur mi erat, eu cursus ligula cursus vel.

			