template
	require(from="./simpleCard.css")
	.simple-card
		.simple-card__header Header
			button.circle
				i.fa.fa-truck
			button.circle
				i.fa.fa-refresh
		.simple-card__content All your content goes here