@import './resources/colors';

h3{
	text-align:center;
}
ul.tricks{
	text-align:center;
	li{
		list-style-type:none;
		margin:20px 0;

		a{
			color:white;
			display:inline-block;
			text-decoration:none;
			text-align:left;
			transition: .2s all ease-in-out;
			padding:8px 0;
			border-bottom:1px solid white;
			width:120px;

			&:hover{
				text-shadow:2px 2px 4px black;
				border-bottom-color:$blue;
			}
		}	
	}
}
