template
	require(from="./css-tricks.css")
	.au-animate.tricks
		div 
			a(href="#/buttons") Rain
		div 
			a(href="#/buttons") Shapes
		div
			a(href="#/buttons") Grid
		div
			a(href="#/buttons") Overlap
		div
			a(href="#/buttons") Display
		div
			a(href="#/buttons") Absolute
		div
			a(href="#/buttons") Zano
