template
	require(from="./css-tricks.css")
	.au-animate
		h3 Select a topic
		ul.tricks
			li
				a(href="#/buttons") Buttons
			li
				a(href="#/particles") Particles
			li
				a(href="#/buttons") Inputs
			li
				a(href="#/buttons") Drop Downs
			li
				a(href="#/buttons") Grid Layout
			li
				a(href="#/buttons") Zano