template
	require(from="./css-tricks.css")
	.au-animate
		h3 Select a topic

		ul.tricks
			li
				a(href="#/buttons") 
					span Buttons
					i.fa.fa-angle-right
			li
				a(href="#/particles") 
					span Particles
					i.fa.fa-angle-right
			li
				a(href="#/buttons") 
					span Inputs
					i.fa.fa-angle-right
			li
				a(href="#/buttons")
					span Drop
					i.fa.fa-angle-right
			li
				
				a(href="#/buttons")  
					span Grid
					i.fa.fa-angle-right