template
	require(from="./css-tricks.css")
	.au-animate
		h3 Select a topic

		ul.tricks
			li
				a(href="#/buttons") 
					span Buttons
					i.fa.fa-angle-right
			li
				a(href="#/cards") 
					span Cards
					i.fa.fa-angle-right
			li
				a(href="#/buttons") 
					span Tabs
					i.fa.fa-angle-right
			li
				a(href="#/buttons")
					span Drop
					i.fa.fa-angle-right