template
	require(from="./css-tricks.css")

	ul.au-animate.tricks
		li
			a(href="#/buttons") Rain
		li
			a(href="#/buttons") Shapes
		li
			a(href="#/buttons") Grid
		li
			a(href="#/buttons") Overlap
		li
			a(href="#/buttons") Display
		li
			a(href="#/buttons") Absolute
		li
			a(href="#/buttons") Zano