css-tricks{
	text-align:center;
	font-size:30px;
	.tricks{
		font-size:20px;
	}
}

.tricks{
	div{
		text-align:left;
		margin-left:40px;
	}
}
a{
	color:white;
	text-decoration:none;
	text-align:left;
}
	.tricks{
		text-align:center;
	}