template
	require(from="./home.css")
	h1.header Home

	.container-home
		p A resource for doing all those neat CSS thingies you see and want to copy!
		a(href="#/css-tricks") 
			button 
				span See how it's done 
				i.fa.fa-arrow-right